<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Guia Médica</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list id="guiaMDica-list1" class=" ">
                <ion-item id="guiaMDica-list-item1" ui-sref="guiaMDica.mDicos" menu-close="" class="  ">Médicos</ion-item>
                <ion-item id="guiaMDica-list-item2" ui-sref="guiaMDica.hospitales" menu-close="" class="  ">Hospitales</ion-item>
                <ion-item id="guiaMDica-list-item3" ui-sref="guiaMDica.laboratorios" menu-close="" class="  ">Laboratorios</ion-item>
                <ion-item id="guiaMDica-list-item4" ui-sref="guiaMDica.laboratorios" menu-close="" class="  ">Farmacias</ion-item>
                <ion-item id="guiaMDica-list-item5" ui-sref="guiaMDica.laboratorios" menu-close="" class="  ">Veterinarias</ion-item>
                <ion-item id="guiaMDica-list-item6" ui-sref="guiaMDica.laboratorios" menu-close="" class="  ">Tiendas Ortopedicas</ion-item>
                <ion-item id="guiaMDica-list-item7" ui-sref="guiaMDica.laboratorios" menu-close="" class="  ">Etc</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>