<ion-view title="Médicos" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="mDicos-card21">
            <ion-item class="item-avatar  " id="mDicos-list-item17">
                <h2>David Novoa Aviles</h2>
                <p>℡ 9375650 - 9350207</p>
            </ion-item>
            <div class=" item item-image">
                <a style="display:block;" href="#" onclick="window.open('https://www.google.com.mx/maps/place/Clinica+de+Dermatologia+y+Alergologia+Novoa+Aviles+David+Dr/@19.176495,-96.127529,15z/data=!4m5!3m4!1s0x0:0x893e62b7e7e4e4c4!8m2!3d19.176495!4d-96.127529', '_system', 'location=yes'); return false;">
                    <img src="img/MnH293z4QxeG26VAo9TO_staticmap" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>
            <div class="item item-body " id="mDicos-list-item-container3">
                <p id="mDicos-null" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
            <ion-item class="item-icon-left balanced  " id="mDicos-list-item18" href="tel:9350207">
                <i class="icon ion-android-call"></i>Contactar</ion-item>
        </div>
        <div class="list card " id="mDicos-card22">
            <ion-item class="item-avatar  " id="mDicos-list-item20">
                <h2>Dr House USA</h2>
                <p>℡ 9375650 - 9350207</p>
            </ion-item>
            <div class=" item item-image">
                <a style="display:block;" href="#" onclick="window.open('https://www.google.com.mx/maps/place/Clinica+de+Dermatologia+y+Alergologia+Novoa+Aviles+David+Dr/@19.176495,-96.127529,15z/data=!4m5!3m4!1s0x0:0x893e62b7e7e4e4c4!8m2!3d19.176495!4d-96.127529', '_system', 'location=yes'); return false;">
                    <img src="img/MnH293z4QxeG26VAo9TO_staticmap" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>
            <div class="item item-body " id="mDicos-list-item-container4">
                <p id="mDicos-markdown3" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
            <ion-item class="item-icon-left balanced  " id="mDicos-list-item21" href="tel:9350207">
                <i class="icon ion-android-call"></i>Contactar</ion-item>
        </div>
        <div class="list card " id="mDicos-card23">
            <ion-item class="item-avatar  " id="mDicos-list-item22">
                <h2>Dr Armando Coferol</h2>
                <p>℡ 9375650 - 9350207</p>
            </ion-item>
            <div class=" item item-image">
                <a style="display:block;" href="#" onclick="window.open('https://www.google.com.mx/maps/place/Clinica+de+Dermatologia+y+Alergologia+Novoa+Aviles+David+Dr/@19.176495,-96.127529,15z/data=!4m5!3m4!1s0x0:0x893e62b7e7e4e4c4!8m2!3d19.176495!4d-96.127529', '_system', 'location=yes'); return false;">
                    <img src="img/MnH293z4QxeG26VAo9TO_staticmap" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>
            <div class="item item-body " id="mDicos-list-item-container5">
                <p id="mDicos-markdown4" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
            <ion-item class="item-icon-left balanced  " id="mDicos-list-item23" href="tel:9350207">
                <i class="icon ion-android-call"></i>Contactar</ion-item>
        </div>
    </ion-content>
</ion-view>